<div class="row">
  <div
    class="d-none d-xl-flex justify-content-center align-items-center col-xl-6"
  >
    <img class="side-img" src="../../assets/notice.jpg" alt="" />
  </div>
  <div class="col-12 col-xl-6 d-flex align-items-center justify-content-center">
    <form
      class="d-flex flex-column align-items-center"
      action=""
      [formGroup]="addTimeTableForm"
      (ngSubmit)="onSubmit()"
    >
      <input
        class="mt-2"
        pInputText
        id="title"
        formControlName="title"
        placeholder="Title"
      />
      <p-calendar
        styleClass="mt-2"
        placeholder="Date"
        formControlName="date"
      ></p-calendar>

      <textarea
        class="mt-2"
        id="description"
        rows="6"
        cols="34"
        pInputTextarea
        formControlName="description"
        placeholder="Description"
      ></textarea>

      <input
        class="mt-2"
        pInputText
        id="title"
        formControlName="url"
        placeholder="URL"
      />

      <br />
      <p-button
        styleClass="mt-2 same-width"
        label="Add"
        type="submit"
      ></p-button>
    </form>
  </div>
</div>
