img {
  object-fit: contain;
  max-width: 85%;
  max-height: 85%;
  width: auto;
  height: auto;
}

input {
  display: block;
}

::ng-deep .same-width {
  width: 18rem !important;
}

::ng-deep .p-inputtext {
  width: 18rem !important;
}

::ng-deep .p-datepicker table td {
  padding: 0.2rem !important;
}

::ng-deep .p-datepicker table td > span {
  width: 1.7rem;
  height: 1.7rem;
}

::ng-deep .p-datepicker table {
  font-size: 10pt;
  margin: -0.143rem 0;
}

::ng-deep .p-datepicker .p-datepicker-header {
  padding: 0.2rem;
}

.my-chip {
  font-size: 14px;
  padding: 4px;
}

::ng-deep .p-chips-token {
  padding: 0.175rem 0.45rem !important;
}
