<p-menubar
  [model]="items"
  [style]="{ position: 'sticky', top: '0px', 'z-index': '1001' }"
>
  <ng-template pTemplate="start">
    <img
      src="../../assets/logo.jpeg"
      height="40"
      class="p-mr-2"
      alt="brand logo"
    />
  </ng-template>
  <ng-template pTemplate="end">
    <div id="buttonDiv" *ngIf="!isLoggedIn"></div>
    <p-button
      icon="pi pi-sign-out"
      label="Logout"
      *ngIf="isLoggedIn"
      (onClick)="logout()"
      rou
    ></p-button>
  </ng-template>
</p-menubar>
