<div class="row">
  <div
    class="d-none d-xl-flex justify-content-center align-items-center col-xl-6"
  >
    <img class="side-img" src="../../assets/contest.png" alt="" />
  </div>
  <div class="col-12 col-xl-6 d-flex align-items-center justify-content-center">
    <form
      class="d-flex flex-column justify-content-center align-items-center"
      action=""
      [formGroup]="addContestForm"
      (ngSubmit)="onSubmit()"
    >
      <input
        class="mt-1"
        pInputText
        id="title"
        formControlName="title"
        placeholder="Contest Title"
      />

      <p-calendar
        styleClass="mt-2"
        placeholder="Last Date"
        formControlName="last_date"
      ></p-calendar>

      <textarea
        class="mt-2"
        id="description"
        rows="5"
        cols="34"
        pInputTextarea
        formControlName="description"
        placeholder="Description"
      ></textarea>
      <input
        placeholder="url"
        pInputText
        id="url"
        formControlName="url"
        class="mt-2"
      />
      <br />
      <p-button
        label="Submit"
        styleClass="p-button mt-2 same-width"
        type="submit"
        [disabled]="!addContestForm.valid"
      ></p-button>
    </form>
  </div>
</div>
