<div class="col mb-4">
  <div
    class="card border-bottom"
    [ngClass]="{
      'top-success': contest.status == 'live',
      'top-danger': contest.status == 'expired',
      'top-primary': contest.status == 'upcoming'
    }"
  >
    <div class="card-body">
      <h5 class="card-title text-truncate" title="{{ contest.title }}">
        {{ contest.title }}
      </h5>
      <div>
        <span class="small text-muted">{{ contest.date | date }}</span>
        <p-tag
          *ngIf="contest.status == 'expired' || contest.status == 'live'"
          value="{{ contest.status | uppercase }}"
          styleClass="ms-2"
          [severity]="contest.status == 'expired' ? 'danger' : 'success'"
        ></p-tag>
      </div>
      <p class="card-text mt-2 two-lines-only">
        {{ contest.description }}
      </p>
      <div class="">
        <p-button
          class="register-button"
          [label]="contest.status == 'expired' ? 'VIEW' : 'REGISTER'"
          styleClass="p-button-text"
          size
          (onClick)="showDetailEmitter()"
        ></p-button>
        <span class="actions" *ngIf="isAdmin">
          <span class="edit">
            <i class="bi bi-pencil" (click)="openEditForm()"></i>
          </span>
          <span class="delete mx-2">
            <i class="bi bi-trash pointer"></i>
          </span>
        </span>
        <!-- <a href="{{ contest.url }}" target="_blank">Register</a> -->
      </div>
    </div>
  </div>
</div>
