<p-button
    icon="pi pi-plus"
    styleClass="p-button"
    class="floating"
    (click)="openForm()"
  ></p-button>
<div class="display-2 mb-4 mt-4 fw-regular">
  <i class="bi bi-file-earmark-ruled"></i>  Research Papers

  <hr>
</div>

<span class="p-input-icon-left mb-4">
  <i class="pi pi-search"></i>
  <input
    type="text"
    pInputText
    placeholder="Search contests"
    [(ngModel)]="query"
    (input)="onSearch($event)"
  />
  <p-calendar class="ms-2" [style]="{width: '8rem'}"  [(ngModel)]="year" view="year" dateFormat="yy" inputId="yearpicker" placeholder="Year"></p-calendar>
</span>
<div style="min-height: 70vh">
  <div class="row row-cols-1 row-cols-md-2">
    <app-research-paper-card
      *ngFor="let item of researchPapers"
      [researchPaper]="item"
    ></app-research-paper-card>
  </div>
</div>
